@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quintessential&family=Space+Grotesk:wght@300..700&family=Workbench&display=swap');

body {
    font-family: "Quintessential", serif;
    color: rgb(255, 255, 255);
    background-color: #000000;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


#title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 100px;
    color: rgb(0, 0, 0);
    text-shadow: 6px 4px 5px rgb(255, 255, 255);
    margin-bottom: 2rem;
}


a img {
    opacity: 1;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


a img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
}


.gallerie {
    display: flex;
}


.Card {
    width: 20rem;
    aspect-ratio: 2.5;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0);
    border: 2px rgb(255, 255, 255) solid;
    box-shadow: 0rem 0rem 0.8rem rgb(255, 255, 255);
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Card img {
    width: 90%;
    margin: 15px;
    border-radius: 5px;
    border: 2px rgb(255, 255, 255) solid;
    transition: 0.3s ease-in-out;
}


.Card img:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}


#Strategy {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}


button {
    font-family: "Quintessential", serif;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 0.5rem;

    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0rem 0rem 0.8rem rgb(255, 255, 255);
    margin-top: 1.5rem;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}


button:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}


#searchInput {
    font-family: "Quintessential", serif;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 0.5rem;

    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0rem 0rem 0.8rem rgb(255, 255, 255);
    margin-bottom: 1rem;
    opacity: 0.7;
    transition: 0.3s ease-in-out;

}


#searchInput:hover {
    opacity: 0.9;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    padding-right: 12rem;
}


#searchInput:focus {
    opacity: 0.9;
    transform: scale(1.05);
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(186, 186, 186);
    padding-right: 12rem;

}