@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

/*PROUT*/


body {
    font-family: "Silkscreen", sans-serif;
    color: rgb(255, 255, 255);
    background-color: #000000;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* BACKGROUND */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

/* IMAGES */
.gallerie {
    display: flex;
}

/* TITLE */
#title {
    align-items: center;
    font-size: 90px;
    color: rgb(0, 0, 0);
    text-shadow: 7px 4px 2px rgb(255, 255, 255);
    margin-bottom: 2rem;
}

/* SEARCH BAR */
#searchInput {
    font-family: "Silkscreen", sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 0.5rem;

    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0rem 0rem 0.8rem rgb(255, 255, 255);
    margin-bottom: 1rem;
    opacity: 0.7;
    transition: 0.3s ease-in-out;

}

#searchInput:hover {

    opacity: 0.9;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    padding-right: 12rem;
}

#searchInput:focus {
    opacity: 0.9;
    transform: scale(1.05);
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(186, 186, 186);
    padding-right: 12rem;

}

/* ICON FOR LINKS */

.icon-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


a img {
    opacity: 1;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

a img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
}

/* BOXES */
.Card {
    width: 20rem;
    aspect-ratio: 2.5;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0);
    border: 2px rgb(255, 255, 255) solid;
    box-shadow: 0rem 0rem 0.8rem rgb(255, 255, 255);
    margin: 20px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PHRASES */
#Strategy {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

/* BOXES IMAGES */
.Card img {
    width: 90%;
    margin: 15px;
    border-radius: 5px;
    border: 2px rgb(255, 255, 255) solid;
    transition: 0.3s ease-in-out;
}

.Card img:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

/* titles images */
#title-ID450 {
    font-size: 16px;
    position: absolute;
    margin-bottom: 17rem;
    margin-right: 7rem;
}

.bob-link {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: absolute;
    margin-bottom: 16rem;
    margin-left: 17rem;
    transition: 0.3s ease-in-out;
}

.bob-link:hover {
    font-size: 17px;
    transition: 0.3s ease-in-out;
}

/* BUTTON */
button {
    font-family: "Silkscreen", sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 0.5rem;

    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0rem 0rem 0.8rem rgb(255, 255, 255);
    margin-top: 1.5rem;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}


button:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}