@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quintessential&family=Space+Grotesk:wght@300..700&family=Workbench&display=swap');



body {
    font-family: "Quintessential", serif;
    color: rgb(123, 54, 54);
    background-color: #f59090;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h2 {
    font-size: 40px;
    color: rgb(137, 60, 60);
    text-shadow: 2px 2px 5px rgb(155, 203, 245);
}


#Card {
    width: 20rem;
    aspect-ratio: 2.5;
    border-radius: 0.5rem;
    padding: 1rem;

    background-color: rgb(155, 203, 245);
    border: 20px w rgb(195, 232, 255);
    box-shadow: 0.5rem 0.5rem 0.4rem rgb(137, 60, 60);
}


#Strategy {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}




button {
    font-family: "Quintessential", serif;
    color: rgb(123, 54, 54);
    border-radius: 0.4rem;
    padding: 0.5rem;

    background-color: rgb(155, 203, 245);
    border: 2px solid rgb(195, 232, 255);
    box-shadow: 0.5rem 0.5rem 0.4rem rgb(137, 60, 60);
    margin-top: 1.5rem;
    opacity: 0.7;
}


button:hover {
    opacity: 1;
}


#searchInput {
    border-radius: 0.4rem;
    padding: 0.5rem;

    background-color: rgb(155, 203, 245);
    border: 2px solid rgb(195, 232, 255);
    box-shadow: 0.5rem 0.5rem 0.4rem rgb(137, 60, 60);
    margin-bottom: 3rem;
    opacity: 0.7;
}


#searchInput:hover {
    opacity: 1;
}


#bkgImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#Photobob {
    position: static;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}